.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
  }
  